<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %} Welcome! {% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link href="build/img/favicon.png" rel="icon">
</head>

<body>


<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="{{ path('home') }}" class="logo d-flex align-items-center">
            <img src="build/img/logo.png" alt="">
            <span>Painting</span>
        </a>
        {% include "partiels/nav.html.twig" %}
    </div>
</header>

{% block body %}

{% endblock %}
{% include "partiels/footer.html.twig" %}
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('bootstrap.bundle') }}
    {{ encore_entry_script_tags('purecounter') }}
    {{ encore_entry_script_tags('main') }}
{% endblock %}
</body>

</html>