{% extends "base.html.twig" %}

{% block body %}
    <section id="blog" class="blog" style="margin-top: 80px;margin-left: 50px;width: 137%;">
        <div class="row">

            <div class="col-lg-8 entries">
                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="{{ vich_uploader_asset(peinture,'imageFile') }}" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        {{ peinture.nom }}
                    </h2>
                    <div class="entry-content">
                        <p>
                            {{ peinture.description }}
                        </p>
                        <ul>
                            <li><strong>Date de réalisation</strong>: {{ peinture.dateRealisation|date('Y-m-d') }}</li>
                            <li><strong>Hauteur</strong>: {{ peinture.hauteur }}</li>
                            <li><strong>Largeur</strong>: {{ peinture.largeur }}</li>
                            {% if peinture.enVente %}
                                <li><strong>Disponible pour vendre</strong>: {{ peinture.prix }}€</li>
                            {% endif %}
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}